:root {
    --bs-primary: #9900ff; /* 원하는 색상으로 변경 */
    --bs-primary-rgb: 255, 87, 51; /* RGB 값도 같이 변경 */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

#app {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}
