/* Signup page specific styles */
.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh; /* 화면 전체 높이 */
    /* background-color: #000000; */
    margin: 0; /* 여백 제거 */
    padding: 0; /* 여백 제거 */
  }
  
  .signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .signup-heading {
    color: #6c2bd9;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .signup-btn {
    background-color: #6c2bd9 !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    width: 100%;
  }
  
  .signup-btn:hover {
    background-color: #5a23b5 !important;
  }
  /* Login page specific styles */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh; /* 화면 전체 높이 */
    /* background-color: #000000; */
    margin: 0; /* 여백 제거 */
    padding: 0; /* 여백 제거 */
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%; /* 너비를 화면에 맞게 설정 */
    max-width: 400px; /* 최대 너비를 제한 */
    margin-bottom: 100px;
}

.login-heading {
    color: #6c2bd9;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.login-btn {
    background-color: #6c2bd9 !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

.oauth-btn {
  background-color: #777777 !important;
  color: white !important;
  margin-top: 10px;
  border: none;
  padding: 10px 20px;
  width: 100%;
}

.login-btn:hover {
    background-color: #5a23b5 !important;
}

.oauth-btn:hover {
  background-color: #414141 !important;
}

.auth-btn {
  background-color: black !important;
  color: white !important;
  border: none;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* 아이콘과 텍스트 사이 간격 */
}

.auth-btn:hover {
  background-color: #333 !important;
}

.auth-icon {
  width: 80px;
  height: 40px;
}
