#navbar nav {
  display: flex;
  width: 100%;
  background-color: #e8ebf0;
  padding: 10px 0; /* 상하 여백 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  box-sizing: border-box;
}

#navbar nav > div {
  display: flex;
  align-items: center; /* 내부 요소 수직 중앙 정렬 */
  gap: 20px; /* 요소 간격 */
}

#navbar nav div div {
  display: flex; /* 내부 요소를 가로로 배치 */
  align-items: center; /* 수직 정렬 */
  gap: 20px; /* 링크와 로고 사이 간격 */
}

#navbar nav img {
  height: 16px; /* 로고 크기 */
}

#navbar nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #4b4b4b; /* 기본 색상 */
  transition: color 0.3s;
}

#navbar nav a.nav-link {
  color: #4b4b4b; /* 활성화된 링크 색상 */
}

#navbar nav a.nav-link.active {
  color: #6e44ff; /* 활성화된 링크 색상 */
}

