.game-container { 
    margin-top: 60px;
    width: 600px; 
    height: 600px; 
    position: relative;
}

#scoreBoard {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    z-index: 10;
}

#gameContainer {
    width: 600px; 
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas { display: block; }

#winnerMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-family: Arial, sans-serif;
    font-size: 36px;
    z-index: 20;
    display: none;
}
